<%= turbo_frame_tag 'date_info' do  %>
  <div class="card">
    <div class="card-header card-title">
      On the date <%= l(@playlist.date) %>
    </div>
    <div class="card-body">
      <div class="card-subtitle">
        Astronomical data for <%= l(@playlist.date) %>:
      </div>
      <p class="card-text">
        <h6>Moon:</h6>
        <p>Current Phase: <%= @sun_moon_data['properties']['data']['curphase'] %>
        <% @sun_moon_data['properties']['data']['moondata'].each do |item| %>
          <p><%= item['phen'] %>: <%= item['time'] %>
        <% end %>

        <h6>Sun:</h6>
        <% @sun_moon_data['properties']['data']['sundata'].each do |item| %>
          <p><%= item['phen'] %>: <%= item['time'] %>
        <% end %>

        @sun_moon_data
      </p>
    </div>
  </div>
<% end %>
